# dot files + folders + pycache
.ipynb_checkpoints
__pycache__*
.env
.jupyter
.vscode
.ipython
.local
.cache
.config
.vscode-server
.conda
.bash_history
.gitconfig
.pylint.d
.aws
*.swp
.DS_Store
.python_history

# data files
genius_song_ids.json
genius_song_ids*.json
song_analysis.json
data/*
song_details*.json
genius_song_details*.json

# big interim files / pickles
pickle/cos_sim_mat_g.npy
pickle/ascap_credits.pkl

# scrape logz
geckodriver.log

# misc / scratch files
query_api.ipynb
notebooks/dask-worker-space/
notebooks/Untitled.ipynb
notebooks/scratch

# the liberry
build/
dist/
songwriter_graph.egg-info